<div id="navBar">
    <div id="navBar-contenedor">
        <div id="conetenedor_titulo">
            <h1>Mi proyecto</h1>
        </div>


        <nav id="menu">
            <ul>
                <li>
                    <a href="#"><button type="button" class="btn btn-outline-primary">Primary</button></a>
                </li>

                <li>
                    <a href="#"><button type="button" class="btn btn-outline-primary">Primary</button></a>
                </li>

                <li>
                    <a href="#"><button type="button" class="btn btn-outline-primary">Primary</button></a>
                </li>

                <li>
                    <a href="#"><button type="button" class="btn btn-outline-primary">Primary</button></a>
                </li>

                <li>
                    <a href="#"><button type="button" class="btn btn-outline-primary">Primary</button></a>
                </li>

                <li>
                    <a href="#"><button type="button" class="btn btn-outline-primary">Primary</button></a>
                </li>

            </ul>
        </nav>


    </div>
</div>
